/* Estilos da página de Audiências */
.container {
    max-width: 1200px;
}

h2 {
    color: #007bff;
}

.table {
    margin-top: 20px;
}

th {
    text-align: center;
}

.btn {
    margin-right: 5px;
}
